click==8.0.4
geopandas==0.10.2
geopy==2.2.0
langdetect==1.0.9
matplotlib==3.5.1
numpy==1.21.2
opencv_python==4.5.5.64
pandas==1.4.1
plotly==5.6.0
pytz==2021.3
requests==2.27.1
scipy==1.7.3
Shapely==2.0.0
textblob==0.17.1
tqdm==4.62.3
transformers==4.14.1
tweepy==4.6.0
